* {
    color: darkblue;
    background-color: white;
}

:root {
    --white: #F5F5F5;
    --lightblue: #A8D1EC;
    --blue: #6991AC;
    --grey: #67727A;
    --red: #D75C37;
}

header {
    color: darkblue;
    margin: 0px 0px 30px 0px;
}

.banner {
    width: 100%;
    height: 250px;
    background: url(../images/banner.jpg);
    background-position: center;
}

h1 {
    font-size: 2.5rem;
    background-color: var(--lightblue);
    border: 2px solid darkblue;
    padding: 30px;
}

h2 {
    text-align:right;
    font-size: 1.5rem;
}

h3 {
    color: var(--white);
    background-color: darkblue;
}

p {
    margin-bottom: 20px;
}

.flex {
    display: flex;
}

.flex > div {
    margin: 0px 10px 20px 10px;
    padding: 20px;
}

.side {
    border-right: 4px solid darkblue;
    width: 25%;
}

.right {
    width: 70%;
}

ul {
    list-style-type: none;
    text-align: right;
    background: none;
}

li {
    display: inline-block;
    margin: 5px 10px;
    /* background-color: darkblue; */
}

footer li {
    margin: 0 5%;
}

footer ul {
    text-align: center;
}

.projects div {
    display: flex;
}

.projects {
    width: 70%;
}

.smallbox {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px 20px 0px;
}

.box1 {
    flex: 95%;
    min-height: 250px;
    margin-bottom: 20px;
    border: 3px solid darkblue;
}

.box {
    flex: 45%;
    min-height: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 3px solid darkblue;
    background: url(../images/image-1.jpg);
    background-position: center;
}

.title {
    background-color: darkblue;
    padding: 5px 15px;
    position: relative;
    bottom: -10px;
    height: 30px;
    z-index: 2;
}

@media screen and (max-width:768px) {
    .box {
        width: 95%;
    }
}
