:root {
    /* declare a variable with `--` syntax */
    --darkblue: #021F59;
    --blue: #204473;
    --lightblue: #45648C;
    --gold: #F2D272;
    --darkgold: #F2C46D;
  }

.nav-link {
  color: var(--gold);
}

.dark {
  background-color: var(--darkblue);
  color: var(--gold);
}

.lightblue {
  background-color: var(--lightblue);
}

.jumbotron {
  background-color: var(--blue);
  color: var(--darkgold);
}

/* .row{
  margin-bottom: 30px;
} */

/* .card {
  margin: 5px;
} */

.navbar {
  background-color: var(--darkblue);
  color: var(--gold);
}

body {
  background-color: var(--lightblue);
}
main {
  color: var(--gold);
}